<div class="row">
    <div [ngClass]="[showNavigation ? 'col-10' : 'col-12']">
        <div class="markdown">
            <markdown
                *ngIf="!isRawString"
                [src]="file"
                lineNumbers
                (ready)="onMarkdownReady()"
            ></markdown>
            <markdown
                *ngIf="isRawString"
                [data]="file"
                lineNumbers
                (ready)="onMarkdownReady()"
            ></markdown>
        </div>
    </div>

    <div *ngIf="showNavigation" class="col-2">
        <div class="anchor-side-nav-container">
            <div class="anchor-side-nav">
                <div *ngFor="let anchor of anchors" class="anchor-link">
                    <a
                        [href]="baseUrl + '#' + anchor.href"
                        class="link mb-1 font-size-0-8"
                        (click)="setCurrentHash(anchor.href)"
                        >{{ anchor.title }}</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
