<div class="full-page">
    <div class="grid-container">
        <app-auth-side-content></app-auth-side-content>

        <div class="sign-container">
            <div class="login-container">
                <app-brand></app-brand>

                <h2 class="fade-in">
                    <span class="font-size-2 color-dark">Login</span>
                </h2>

                <div class="fade-in">
                    <a routerLink="/register" class="link link-magenta">Create an account</a>
                </div>

                <div class="form-container">
                    <!-- Email -->
                    <div class="form-group fade-in">
                        <label for="email" class="form-label">Email Address</label>
                        <input
                            type="text"
                            id="email"
                            class="form-control"
                            [(ngModel)]="user.email"
                            (keyup.enter)="signIn()"
                        />
                    </div>

                    <!-- Password -->
                    <div class="form-group fade-in">
                        <label for="passwordInput" class="form-label">
                            Password
                            <a routerLink="/reset-password" class="password-reset-link"
                                >Forgot password?</a
                            >
                        </label>
                        <input
                            type="password"
                            id="passwordInput"
                            class="form-control"
                            [(ngModel)]="user.password"
                            (keyup.enter)="signIn()"
                        />
                        <!-- Toggle password input -->
                        <i
                            class="material-icons color-dark"
                            id="passwordToggle"
                            title="Show password"
                            aria-label="Show password"
                            (click)="showPassword()"
                            >visibility</i
                        >
                    </div>

                    <!-- Error message -->
                    <app-info-message
                        *ngIf="errorMsg"
                        type="error"
                        [content]="errorMsg"
                    ></app-info-message>

                    <button
                        class="btn btn-solid-magenta color-white"
                        [ngClass]="{ 'btn-loading': loading.signIn }"
                        [disabled]="loading.signIn"
                        (click)="signIn()"
                    >
                        <span *ngIf="!loading.signIn">Login</span>
                        <app-loading-icon *ngIf="loading.signIn"></app-loading-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
