<a routerLink="/" class="brand" [ngClass]="{ 'brand-lg': lg }">
    <span class="fade-in brand-primary">S</span>
    <span class="fade-in brand-primary">h</span>
    <span class="fade-in brand-primary">i</span>
    <span class="fade-in brand-primary">p</span>
    <span class="fade-in brand-primary">p</span>
    <span class="fade-in brand-primary">e</span>
    <span class="fade-in brand-primary">d </span>
    <span class="fade-in brand-alt">B</span>
    <span class="fade-in brand-alt">r</span>
    <span class="fade-in brand-alt">a</span>
    <span class="fade-in brand-alt">i</span>
    <span class="fade-in brand-alt">n</span>
</a>
