<footer class="w-100 p-2">
    <div class="text-center">
        <a routerLink="/" class="brand">
            <span class="fade-in brand-primary">S</span>
            <span class="fade-in brand-primary">h</span>
            <span class="fade-in brand-primary">i</span>
            <span class="fade-in brand-primary">p</span>
            <span class="fade-in brand-primary">p</span>
            <span class="fade-in brand-primary">e</span>
            <span class="fade-in brand-primary">d </span>
            <span class="fade-in brand-alt">B</span>
            <span class="fade-in brand-alt">r</span>
            <span class="fade-in brand-alt">a</span>
            <span class="fade-in brand-alt">i</span>
            <span class="fade-in brand-alt">n</span>
        </a>
    </div>

    <div class="row mt-2">
        <div class="col-3 col-sm-12">
            <div>
                <span class="footer-title">Links</span>

                <a href="https://shippedbrain.medium.com/" target="_blank" class="footer-link"
                    >Blog</a
                >
                <br />
                <a href="https://discord.gg/XrXkzCajvF" target="_blank" class="footer-link"
                    >Discord</a
                >
            </div>
        </div>

        <div class="col-3 col-sm-12">
            <div>
                <span class="footer-title">Contact</span>

                <a href="mailto:info@shippedbrain.com" class="footer-link"
                    >info@shippedbrain.com</a
                >
            </div>
        </div>
    </div>
</footer>
