<nav class="sidebar-menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>

    <ul class="sidebar-items-container">
        <a routerLink="/dashboard/summary" routerLinkActive="active" class="sidebar-item">
            <span class="sidebar-icon material-icons">dashboard</span>
            <span class="sidebar-item-text">Dashboard</span>
        </a>
        <a routerLink="/dashboard/likes" routerLinkActive="active" class="sidebar-item">
            <span class="sidebar-icon material-icons">favorite</span>
            <span class="sidebar-item-text">Likes</span>
        </a>
    </ul>
</nav>
