<div class="full-page">
    <div class="grid-container">
        <app-auth-side-content></app-auth-side-content>

        <div class="sign-container">
            <div class="login-container">
                <app-brand></app-brand>

                <h2 class="fade-in">
                    <span class="font-size-2 color-dark">Forgot your password?</span>
                </h2>

                <span class="fade-in">
                    <span class="font-size-0-9 color-grey"
                        >Enter the email address you used to register your account and we'll
                        send you instructions to reset your password.</span
                    >
                </span>

                <div class="fade-in">
                    <a routerLink="/login" class="link link-magenta">Sign in</a>
                </div>

                <div class="form-container">
                    <!-- Email -->
                    <div class="form-group fade-in">
                        <label for="email" class="form-label">Email</label>
                        <input
                            type="text"
                            id="email"
                            class="form-control"
                            [(ngModel)]="email"
                            (keyup.enter)="resetPassword()"
                        />
                    </div>

                    <button
                        class="btn btn-solid-magenta color-white"
                        [ngClass]="{ 'btn-loading': loading.resetPassword }"
                        [disabled]="loading.resetPassword"
                        (click)="resetPassword()"
                    >
                        <span *ngIf="!loading.resetPassword">Send instructions</span>
                        <app-loading-icon *ngIf="loading.resetPassword"></app-loading-icon>
                    </button>

                    <!-- Error message -->
                    <app-info-message
                        *ngIf="errors.resetPassword"
                        type="error"
                        [content]="errors.resetPassword"
                    ></app-info-message>

                    <!-- Success message -->
                    <app-info-message
                        *ngIf="messages.resetPassword"
                        type="success"
                        [content]="messages.resetPassword"
                    ></app-info-message>

                    <div *ngIf="messages.resetPassword">
                        <a
                            class="link link-magenta pointer font-size-0-8"
                            (click)="resetPassword(true)"
                            >Didn't receive an email?</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
