<div class="full-page">
    <div class="grid-container">
        <app-auth-side-content></app-auth-side-content>

        <div class="sign-container">
            <div class="login-container">
                <app-brand></app-brand>

                <h2 class="fade-in">
                    <span class="font-size-2 color-dark">Reset your password</span>
                </h2>

                <span class="fade-in">
                    <span class="font-size-0-9 color-grey"
                        >Please enter your new password</span
                    >
                </span>

                <div *ngIf="!errors.invalidToken" class="form-container">
                    <!-- New Password -->
                    <div class="form-group fade-in">
                        <label for="newPasswordInput" class="form-label">New Password</label>
                        <input
                            type="password"
                            id="newPasswordInput"
                            class="form-control"
                            [(ngModel)]="newPassword"
                            (keyup.enter)="changePassword()"
                        />
                        <!-- Toggle password input -->
                        <i
                            class="material-icons color-dark"
                            id="newPasswordToggle"
                            title="Show password"
                            aria-label="Show password"
                            data-target="newPasswordInput"
                            (click)="showPassword($event)"
                            >visibility</i
                        >
                    </div>

                    <!-- Password Confirm -->
                    <div class="form-group fade-in">
                        <label for="newPasswordConfirm" class="form-label"
                            >Confirm Password</label
                        >
                        <input
                            type="password"
                            id="newPasswordConfirm"
                            class="form-control"
                            [(ngModel)]="newPasswordConfirm"
                            (keyup.enter)="changePassword()"
                        />
                        <!-- Toggle password input -->
                        <i
                            class="material-icons color-dark"
                            id="newPasswordConfirmToggle"
                            title="Show password"
                            aria-label="Show password"
                            data-target="newPasswordConfirm"
                            (click)="showPassword($event)"
                            >visibility</i
                        >
                    </div>

                    <button
                        class="btn btn-solid-magenta color-white"
                        [ngClass]="{ 'btn-loading': loading.changePassword }"
                        [disabled]="loading.resetPassword"
                        (click)="changePassword()"
                    >
                        <span *ngIf="!loading.changePassword">Change</span>
                        <app-loading-icon *ngIf="loading.changePassword"></app-loading-icon>
                    </button>

                    <!-- Error message -->
                    <app-info-message
                        *ngIf="errors.changePassword"
                        type="error"
                        [content]="errors.changePassword"
                    ></app-info-message>

                    <!-- Success message -->
                    <app-info-message
                        *ngIf="messages.changePassword"
                        type="success"
                        [content]="messages.changePassword"
                    ></app-info-message>
                </div>

                <!-- Error message -->
                <app-info-message
                    *ngIf="errors.invalidToken"
                    type="error"
                    [content]="errors.invalidToken"
                ></app-info-message>
            </div>
        </div>
    </div>
</div>
